body {
    margin: 0; 
   }
   
   .features-list {
   margin: 0;
   padding: 20px;
   }
   
   .page-header {
     display: grid;
     grid-template-columns: 210px 200px;
     padding-top: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
   }
   