body {
    margin: 0; 
   }
   
   .page-header {
     margin: 0;
    display: grid;
    grid-template-columns: 1fr 160px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 70px;
    
   }
   
   .days-list {
     margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 40px;
   }
   
    .page-footer {
      padding: 20px;
    padding-top: 10px;
    
   }
   